# Build artifacts
build/
dist/
debian/
*.spec
__pycache__/
*.pyc
*.egg-info/

# Package build artifacts
*.buildinfo
*.changes
*.tar.gz

# Generated docs
doc/

# IDE
.idea/
.vscode/

# Zip
*.zip
